@include tablet{
    .contenedor-anuncios{
        @include grid(3, 3rem)
    }
}

.anuncio{
    background-color: $gris;
    border: 0.1rem solid  darken($gris,10);
    margin-bottom: 2rem;

    @include tablet{
        margin-bottom: 0;
    }

    .contenido-anuncio{
        padding: 2rem;
    }

    h3, p{
        margin: 1rem 0;
    }

    h3{
        font-weight: 500;
        font-size: 2.1rem;
    }
}

.precio{
    color: $verde;
    font-weight: 600;
    font-size: 2.1rem;
}

@include tablet{
    .contenido-anuncio{
        .descripcion-anuncio{
            height: 21rem;            
        }
        .descripcion{
            height: 10rem;  
        }
    }
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: auto;
    max-width: 40rem;
    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 3rem;
            margin-right: 1.5rem;
        }
        p{
            font-weight: 700;
        }
    }
}

.resumen-propiedad{
    text-align: justify;
}