.footer {
    background-color: $grisOscuro;
    padding-bottom: 0.4rem;
    margin-bottom: 0;

    .contenido-footer{
        padding-top: calc($separacion / 2);
    }

    .copyright {
        color: $blanco;
        text-align: center;
    
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}