.barra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

    @include tablet{
        flex-direction: row;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s linear;

    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;

            &:last-of-type{
                margin-right: 0;
            }
        }

        &:hover{
            color: $verde;
        }
    }
}

.mobile-menu{
    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }

    &:hover{
        cursor: pointer;
    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
}