.alerta{

    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;

    &:first-of-type{
        margin-top: 3rem;
    }

    &.error{
        background-color: $rojo;
        color: $blanco;
    }
}